/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.prossimo{
  color: black;
}

.cfu{
  margin-right: 2%;
}

.nav-image {
  height: 48px;
}

.name, .email{
  text-align: left;
}

.collapsible li.disabled .collapsible-body {
  display: none !important;
}

.collapsible li.disabled .collapsible-header {
  background: rgb(235,235,235);
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.btn-small {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  margin-top: 3%;
}